@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=PT+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Thin.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.top-of-site .nav-links-of-top .button-menu {
  margin: 0 40px 0px 0px;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  background-color: rgb(3, 3, 3);
  color: white;
  font-size: 15px;
}

.content .content-bottom .content-offer-outside .content-offer-primary .content-offer-payment, .content .content-bottom .content-offer-outside .content-offer-primary .content-offer-devices, .content .content-bottom .content-offer-outside .content-offer-primary .content-offer-safeguard {
  color: white;
  font-family: "Rubik";
  background-color: rgb(3, 3, 3);
  width: 300px;
  height: 250px;
  border-radius: 7%;
  padding: 10px 10px 30px 10px;
}

.content .content-bottom::first-line, .content .content-top .content-top-list, .content .content-top .content-top-text-inside {
  padding-left: 20px;
}

.top-of-site {
  width: 100%;
  height: 100px;
  background-color: rgb(3, 3, 3);
  padding: 0px 50px 0px 50px;
  position: fixed;
  font-family: "Rubik";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.top-of-site .nav-links-of-top .button-menu:hover {
  opacity: 0.9;
  border: 1px solid rgb(5, 132, 132);
}
.top-of-site .nav-links-of-top .button-menu:active {
  width: 79.5px;
  color: rgb(196, 199, 199);
}
.top-of-site .nav-links-of-top .button-menu::after {
  content: "";
  background: url("../icons/icon_menu.png");
  width: 32px;
  height: 32px;
  background-size: contain;
  padding: 0px 20px 0px 0px;
}
.top-of-site a {
  padding: 0 20px 0 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-family: "Rubik";
}
.top-of-site a:hover {
  color: rgb(143, 142, 142);
}

.content {
  font-family: "PT Sans Caption";
  padding: 100px 0px 10px 0px;
  background: url("../images/new-background.jpg");
}
.content .content-top {
  margin-bottom: 50px;
}
.content .content-top .content-top-image-block {
  margin: 0px 0px 50px 0px;
  display: flex;
  justify-content: center;
}
.content .content-top .content-top-image-block .content-top-image {
  width: 100%;
  height: 700px;
}
.content .content-top .content-top-text-inside {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 30px;
}
.content .content-top .content-top-list {
  margin-top: 30px;
}
.content .content-top .content-top-list li {
  font-size: 20px;
  line-height: 1.9;
}
.content .content-top .content-top-list li::before {
  content: "";
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: black;
  display: inline-block;
  margin-right: 10px;
}
.content .content-top .content-top-list li:nth-child(1):hover {
  font-size: 21px;
  font-weight: bold;
}
.content .content-top .content-top-list li:nth-child(2):hover {
  font-size: 21px;
  font-weight: bold;
}
.content .content-top .content-top-list li:nth-child(3):hover {
  font-size: 21px;
  font-weight: bold;
}
.content .content-top .content-top-list li:nth-child(4):hover {
  font-size: 21px;
  font-weight: bold;
}
.content .content-top .content-top-list li:nth-child(5):hover {
  font-size: 21px;
  font-weight: bold;
}
.content .content-top .content-top-list li:hover::before {
  background-color: rgb(5, 132, 132);
}
.content .content-bottom {
  line-height: 1.5;
}
.content .content-bottom::first-line {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 25px;
}
.content .content-bottom .content-photo-compotent-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-weight: 300;
  font-size: 17px;
  margin: 25px 0px 70px 0px;
}
.content .content-bottom .content-photo-compotent-bottom .img-component-bottom {
  height: 300px;
  width: 500px;
  border: 2px solid black;
}
.content .content-bottom .content-about-outside {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.content .content-bottom .content-about-outside .content-bottom-about {
  background-color: rgb(240, 245, 245);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 60%;
  flex-grow: 0.3;
  flex-shrink: 1;
  padding: 30px;
}
.content .content-bottom .content-about-outside .content-bottom-about .content-bottom-about-image {
  height: 700px;
  width: 500px;
  border-radius: 10px;
}
.content .content-bottom .content-about-outside .content-bottom-about .content-bottom-about-text {
  width: 500px;
  font-family: "Raleway";
  line-height: 1.5;
  font-weight: 900;
  font-size: 17px;
}
.content .content-bottom .content-about-outside .content-bottom-about .content-bottom-about-text .content-bottom-about-buttom-frame {
  margin-top: 50px;
}
.content .content-bottom .content-about-outside .content-bottom-about .content-bottom-about-text .content-bottom-about-buttom-frame .content-bottom-about-button {
  font-family: "Raleway";
  font-size: 15px;
  font-weight: bold;
  height: 34px;
  display: inline-block;
  background-color: black;
  color: white;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
}
.content .content-bottom .content-about-outside .content-bottom-about .content-bottom-about-text .content-bottom-about-buttom-frame .content-bottom-about-button::after {
  content: "";
  background: url("../icons/icon_arrow_forward.png");
  width: 32px;
  height: 32px;
  background-size: contain;
  padding: 0px 18px 0px 0px;
}
.content .content-bottom .content-offer-outside .content-offer-primary {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}
.content .content-bottom .content-offer-outside .content-offer-primary .content-offer-safeguard .image-offer-safeguard {
  width: 100%;
  margin-bottom: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .content-bottom .content-offer-outside .content-offer-primary .content-offer-safeguard .image-offer-safeguard img {
  width: 50px;
  height: 50px;
}
.content .content-bottom .content-offer-outside .content-offer-primary .content-offer-safeguard .image-offer-safeguard .content-offer-safeguard-text {
  margin-top: 10px;
  height: 75%;
}
.content .content-bottom .content-offer-outside .content-offer-primary .content-offer-safeguard .image-offer-safeguard {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .content-bottom .content-offer-outside .content-offer-primary .content-offer-safeguard .image-offer-safeguard img {
  width: 50px;
  height: 50px;
}
.content .content-bottom .content-offer-outside .content-offer-primary .content-offer-safeguard .content-offer-safeguard-text {
  margin-top: 10px;
  height: 75%;
}
.content .content-bottom .content-offer-outside .content-offer-primary .content-offer-devices .image-offer-devices {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .content-bottom .content-offer-outside .content-offer-primary .content-offer-devices .image-offer-devices img {
  width: 50px;
  height: 50px;
}
.content .content-bottom .content-offer-outside .content-offer-primary .content-offer-devices .content-offer-devices-text {
  margin-top: 10px;
  height: 75%;
}
.content .content-bottom .content-offer-outside .content-offer-primary .content-offer-payment .image-offer-payment {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .content-bottom .content-offer-outside .content-offer-primary .content-offer-payment .image-offer-payment img {
  width: 50px;
  height: 50px;
}
.content .content-bottom .content-offer-outside .content-offer-primary .content-offer-payment .content-offer-payment-text {
  margin-top: 10px;
  height: 75%;
}

.footer {
  height: 200px;
  width: 100%;
  background-color: rgb(3, 3, 3);
  color: white;
  padding: 25px 0px 50px 25px;
  line-height: 1.6;
  margin: 50px 0px 0px 0px;
}
.footer::first-line {
  font-family: "PT Sans Caption";
  font-size: 17px;
}
.footer .content-bottom-list li {
  line-height: 2;
}
.footer .content-bottom-list li:nth-child(1)::before {
  content: "";
  background: url("../icons/icon_phone.png") left no-repeat;
  width: 32px;
  height: 32px;
  background-size: contain;
  padding: 0px 0px 0px 20px;
}
.footer .content-bottom-list li:nth-child(2)::before {
  content: "";
  background: url("../icons/icon_mail.png") left no-repeat;
  width: 32px;
  height: 32px;
  background-size: contain;
  padding: 0px 0px 0px 20px;
}
.footer .content-bottom-list li:nth-child(3)::before {
  content: "";
  background: url("../icons/icon_location.png") left no-repeat;
  width: 32px;
  height: 32px;
  background-size: contain;
  padding: 0px 0px 0px 20px;
}/*# sourceMappingURL=style.css.map */