@font-face {
    font-family: 'Didact Gothic';
    src: url('DidactGothic-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Didact Gothic';
    src: url('DidactGothic-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

